@model IEnumerable<Teams>


@*Navigation Menu*@
<h4 class="text-center">Team Name</h4>

<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-teamid="">Home</a>
<br />

@foreach (var x in Model)
{
    <a class="btn btn-block @(x.TeamName == ViewBag.SelectedTeam ? "btn-primary" : "btn-outline-secondary")
       asp-action="Index" 
       asp-controller="Home" 
       asp-route-teamid="@x.TeamId"
       asp-route-teamname="@x.TeamName">
       @x.TeamName
    </a>
}

<div ></div>
